<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="src/autoload.php"
	beStrictAboutOutputDuringTests="true"
	verbose="true"
	colors="true"
	>
	<testsuites>
		<testsuite name="All tests">
			<directory  phpVersion="7.4" phpVersionOperator=">=">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
