.xicrow-php-debug-box {

	.xicrow-php-debug-box-header {
	}

	.xicrow-php-debug-box-content {

		pre {
			.xicrow-php-debug-data-type-null {
			}

			.xicrow-php-debug-data-type-boolean {
			}

			.xicrow-php-debug-data-type-integer {
			}

			.xicrow-php-debug-data-type-double {
			}

			.xicrow-php-debug-data-type-string {
			}
		}

		.xicrow-php-debug-timer {

			&:hover {
			}
		}
	}

	.xicrow-php-debug-box-footer {
	}
}

.xicrow-php-debug-compare {
}
